<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qs304.student_checking_management_system.mapper.CurScoreInfoMapper">
  <resultMap id="BaseResultMap" type="com.qs304.student_checking_management_system.entity.CurScoreInfo">
    <result column="stu_id" jdbcType="INTEGER" property="stuId" />
    <result column="cur_id" jdbcType="INTEGER" property="curId" />
    <result column="cur_usuScore" jdbcType="DOUBLE" property="curUsuscore" />
    <result column="cur_finalScore" jdbcType="DOUBLE" property="curFinalscore" />
    <result column="cur_sum_finalScore" jdbcType="DOUBLE" property="curSumFinalscore" />
  </resultMap>

  <resultMap id="BaseResultMapWithStuInfo" type="com.qs304.student_checking_management_system.entity.CurScoreInfo">
    <result column="cur_id" jdbcType="INTEGER" property="curId" />
    <result column="stu_id" jdbcType="INTEGER" property="stuId" />
    <result column="cur_usuScore" jdbcType="DOUBLE" property="curUsuscore" />
    <result column="cur_finalScore" jdbcType="DOUBLE" property="curFinalscore" />
    <result column="cur_sum_finalScore" jdbcType="DOUBLE" property="curSumFinalscore" />
    <association property="stuInfo" column="cur_score_info.stu_id">
      <id property="stuId" column="stu_id"></id>
      <result property="stuName" column="stu_name"></result>
      <result property="stuSex" column="stu_sex"></result>
      <result property="stuSchool" column="stu_school"></result>
      <result property="stuPhonenumber" column="stu_phoneNumber"></result>
    </association>
  </resultMap>

  <select id="getCurScoreInfoListWithStuInfo" resultMap="BaseResultMapWithStuInfo">
    select * from stu_info,cur_score_info where stu_info.stu_id=cur_score_info.stu_id AND cur_score_info.cur_id=#{curId}
  </select>

<!--  <select id="getClassScoreInfoListWithStuInfo" resultMap="BaseResultMapWithStuInfo">-->
<!--    select * from stu_info,cur_score_info where stu_info.stu_id=cur_score_info.stu_id AND cur_score_info.cur_id=#{curId}-->
<!--  </select>-->

  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    stu_id, cur_id, cur_usuScore, cur_finalScore, cur_sum_finalScore
  </sql>
  <select id="selectByExample" parameterType="com.qs304.student_checking_management_system.entity.CurScoreInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cur_score_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.qs304.student_checking_management_system.entity.CurScoreInfoExample">
    delete from cur_score_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qs304.student_checking_management_system.entity.CurScoreInfo">
    insert into cur_score_info (stu_id, cur_id, cur_usuScore, 
      cur_finalScore, cur_sum_finalScore)
    values (#{stuId,jdbcType=INTEGER}, #{curId,jdbcType=INTEGER}, #{curUsuscore,jdbcType=DOUBLE}, 
      #{curFinalscore,jdbcType=DOUBLE}, #{curSumFinalscore,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.qs304.student_checking_management_system.entity.CurScoreInfo">
    insert into cur_score_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="stuId != null">
        stu_id,
      </if>
      <if test="curId != null">
        cur_id,
      </if>
      <if test="curUsuscore != null">
        cur_usuScore,
      </if>
      <if test="curFinalscore != null">
        cur_finalScore,
      </if>
      <if test="curSumFinalscore != null">
        cur_sum_finalScore,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="stuId != null">
        #{stuId,jdbcType=INTEGER},
      </if>
      <if test="curId != null">
        #{curId,jdbcType=INTEGER},
      </if>
      <if test="curUsuscore != null">
        #{curUsuscore,jdbcType=DOUBLE},
      </if>
      <if test="curFinalscore != null">
        #{curFinalscore,jdbcType=DOUBLE},
      </if>
      <if test="curSumFinalscore != null">
        #{curSumFinalscore,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qs304.student_checking_management_system.entity.CurScoreInfoExample" resultType="java.lang.Long">
    select count(*) from cur_score_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cur_score_info
    <set>
      <if test="record.stuId != null">
        stu_id = #{record.stuId,jdbcType=INTEGER},
      </if>
      <if test="record.curId != null">
        cur_id = #{record.curId,jdbcType=INTEGER},
      </if>
      <if test="record.curUsuscore != null">
        cur_usuScore = #{record.curUsuscore,jdbcType=DOUBLE},
      </if>
      <if test="record.curFinalscore != null">
        cur_finalScore = #{record.curFinalscore,jdbcType=DOUBLE},
      </if>
      <if test="record.curSumFinalscore != null">
        cur_sum_finalScore = #{record.curSumFinalscore,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cur_score_info
    set stu_id = #{record.stuId,jdbcType=INTEGER},
      cur_id = #{record.curId,jdbcType=INTEGER},
      cur_usuScore = #{record.curUsuscore,jdbcType=DOUBLE},
      cur_finalScore = #{record.curFinalscore,jdbcType=DOUBLE},
      cur_sum_finalScore = #{record.curSumFinalscore,jdbcType=DOUBLE}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>