<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qs304.student_checking_management_system.mapper.ScoreMapper">
  <resultMap id="BaseResultMap" type="com.qs304.student_checking_management_system.entity.Score">
    <id column="stu_id" jdbcType="INTEGER" property="stuId" />
    <result column="cur_id" jdbcType="INTEGER" property="curId" />
    <result column="usu_score" jdbcType="DOUBLE" property="usuScore" />
    <result column="test_score" jdbcType="DOUBLE" property="testScore" />
    <result column="final_score" jdbcType="DOUBLE" property="finalScore" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    stu_id, cur_id, usu_score, test_score, final_score
  </sql>
  <select id="selectByExample" parameterType="com.qs304.student_checking_management_system.entity.ScoreExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from score
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from score
    where stu_id = #{stuId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from score
    where stu_id = #{stuId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.qs304.student_checking_management_system.entity.ScoreExample">
    delete from score
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qs304.student_checking_management_system.entity.Score">
    insert into score (stu_id, cur_id, usu_score, 
      test_score, final_score)
    values (#{stuId,jdbcType=INTEGER}, #{curId,jdbcType=INTEGER}, #{usuScore,jdbcType=DOUBLE}, 
      #{testScore,jdbcType=DOUBLE}, #{finalScore,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.qs304.student_checking_management_system.entity.Score">
    insert into score
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="stuId != null">
        stu_id,
      </if>
      <if test="curId != null">
        cur_id,
      </if>
      <if test="usuScore != null">
        usu_score,
      </if>
      <if test="testScore != null">
        test_score,
      </if>
      <if test="finalScore != null">
        final_score,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="stuId != null">
        #{stuId,jdbcType=INTEGER},
      </if>
      <if test="curId != null">
        #{curId,jdbcType=INTEGER},
      </if>
      <if test="usuScore != null">
        #{usuScore,jdbcType=DOUBLE},
      </if>
      <if test="testScore != null">
        #{testScore,jdbcType=DOUBLE},
      </if>
      <if test="finalScore != null">
        #{finalScore,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qs304.student_checking_management_system.entity.ScoreExample" resultType="java.lang.Long">
    select count(*) from score
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update score
    <set>
      <if test="record.stuId != null">
        stu_id = #{record.stuId,jdbcType=INTEGER},
      </if>
      <if test="record.curId != null">
        cur_id = #{record.curId,jdbcType=INTEGER},
      </if>
      <if test="record.usuScore != null">
        usu_score = #{record.usuScore,jdbcType=DOUBLE},
      </if>
      <if test="record.testScore != null">
        test_score = #{record.testScore,jdbcType=DOUBLE},
      </if>
      <if test="record.finalScore != null">
        final_score = #{record.finalScore,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update score
    set stu_id = #{record.stuId,jdbcType=INTEGER},
      cur_id = #{record.curId,jdbcType=INTEGER},
      usu_score = #{record.usuScore,jdbcType=DOUBLE},
      test_score = #{record.testScore,jdbcType=DOUBLE},
      final_score = #{record.finalScore,jdbcType=DOUBLE}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qs304.student_checking_management_system.entity.Score">
    update score
    <set>
      <if test="curId != null">
        cur_id = #{curId,jdbcType=INTEGER},
      </if>
      <if test="usuScore != null">
        usu_score = #{usuScore,jdbcType=DOUBLE},
      </if>
      <if test="testScore != null">
        test_score = #{testScore,jdbcType=DOUBLE},
      </if>
      <if test="finalScore != null">
        final_score = #{finalScore,jdbcType=DOUBLE},
      </if>
    </set>
    where stu_id = #{stuId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qs304.student_checking_management_system.entity.Score">
    update score
    set cur_id = #{curId,jdbcType=INTEGER},
      usu_score = #{usuScore,jdbcType=DOUBLE},
      test_score = #{testScore,jdbcType=DOUBLE},
      final_score = #{finalScore,jdbcType=DOUBLE}
    where stu_id = #{stuId,jdbcType=INTEGER}
  </update>
</mapper>